.feature {
  color: $clr-grey-200;

  &__container {
    display: flex;
    flex-direction: row-reverse;

    @include mq-max-w($tablet-min) {
      flex-direction: column;
    }

    &--right {
      flex-direction: row;

      @include mq-max-w($tablet-min) {
        flex-direction: column;
      }
    }

    & > * {
      flex: 50%;
    }
  }

  &__img {
    aspect-ratio: 16 / 9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    padding-block: $size-fluid-b;
    padding-inline: $size-fluid-s;
    display: grid;
    place-content: center;
    gap: $size-fluid-sm;

    @include mq-max-w($tablet-min) {
      @include flex-col-center;
    }
  }

  &__title {
    font-family: $font-explicit;
    font-size: $fs-fluid-lg;
    text-transform: capitalize;
    line-height: 1.2;
    max-width: 13ch;

    @include mq-max-w($tablet-min) {
      text-align: center;
    }
  }

  &__description {
    max-width: 44ch;
    font-size: $fs-fluid-s;

    @include mq-max-w($tablet-min) {
      text-align: center;
    }
  }

  &__link {
    @include flex-col-center;
    width: max-content;
    font-family: $font-explicit;
    text-transform: uppercase;
    font-size: $fs-fluid-sm;
    transition: $pointer;

    &:hover {
      &.feature__link--line-primary::after {
        background-color: $clr-primary;
      }

      &.feature__link--line-secondary::after {
        background-color: $clr-secondary;
      }
    }

    &--line-primary,
    &--line-secondary {
      &::after {
        content: '';
        display: block;
        z-index: -1;
        border-radius: 50rem;
        @include size(120%, 1rem);
        @include pos-Y(-1rem);
      }
    }

    &--line-primary::after {
      background-color: $clr-primary-800;
    }

    &--line-secondary::after {
      background-color: $clr-secondary-800;
    }
  }
}
