.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.opacity-zero {
  opacity: 0 !important;
}

.opacity-one {
  opacity: 1 !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}
