html {
  font-size: 62.5%;
}

svg {
  width: 100%;
  height: 100%;
  stroke: unset;
}

a {
  color: inherit;
  text-decoration: none;
  transition: $pointeraa;

  &:hover {
    color: inherit;
  }
}

.app-container {
  //width: min(213.1rem, 100%);
  margin-inline: auto;
  font-family: $font-default;
  font-size: $fs-default;
  font-weight: $fw-default;
  color: $clr-white;
}
