html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

svg {
  width: 100%;
  height: 100%;
  stroke: unset;
}

a {
  color: inherit;
  text-decoration: none;
  transition: $pointer;

  &:hover {
    color: inherit;
  }
}

.app-container {
  margin-inline: auto;
  font-family: $font-default;
  font-size: $fs-default;
  font-weight: $fw-default;
  color: $clr-grey-200;
}

.main-container {
  width: $size-page;
  margin-inline: auto;
}
