.header {
  $_z-background: -1;
  $_z-overlay: -2;
  $_clr-bg: hsl(200, 100%, 62%);
  $_container-width: 100%;
  $_container-height: clamp(50vh, 46vh + 22vw, 80vh);

  z-index: layer('header');

  &::after {
    content: '';
    z-index: $_z-overlay;
    background-color: $_clr-bg;
    @include abs($t: 0, $l: 0);
    @include size($_container-width, $_container-height);
  }

  &__container {
    position: relative;
    @include size($_container-width, $_container-height);
    @include flex-col-center;

    @include mq-phone-landscape {
      gap: 1.5rem;
    }

    & .header__title,
    & .header__arrow {
      @include pos-Y(-8rem);

      @include mq-max-w($pc-max) {
        @include pos-Y(-4vmax);
      }

      @include mq-phone-landscape {
        @include pos-Y(0);
      }
    }
  }

  &__background {
    @include abs;
    margin-inline: auto;
    width: min(160rem, 100%);
    min-height: 100%;
    z-index: $_z-background;
    background-image: url('#{$PATH_IMG_PC}/image-header.jpg'); // fallback
    background-image: image-set(
      url('#{$PATH_IMG_PC}/image-header.jpg') 0x,
      url('#{$PATH_IMG_PHONE}/image-header.jpg') 2x
    );
    background-size: cover;
    background-position: bottom;
  }

  &__title {
    $_fs-fluid: 5vmax;
    font-size: $fs-max;

    @include mq-max-w($pc-m) {
      font-size: $_fs-fluid;
    }

    @include mq-max-w($tablet-min) {
      text-align: center;
      width: min-content;
    }

    @include mq-max-w($phone-max) {
      font-size: $_fs-fluid + 0.5vmax; // 5.5vmax
    }

    @include mq-phone-min {
      font-size: $_fs-fluid + 2.5vmax; // 7.5vmax
    }
  }

  &__arrow {
    $_fluid-size: 2vmax;

    cursor: pointer;
    width: 2.88rem;
    height: auto;
    animation: $animation-float forwards infinite;
    animation-duration: 3s;

    @include mq-max-w($pc-m) {
      width: $_fluid-size;
    }
    @include mq-phone-min {
      width: $_fluid-size + 1vmax; // 3vmax
    }
  }
}
