.nav {
  $_z-menu: 2;
  $_z-overlay: 1;
  $_dropdown-duration: 0.3s;

  width: 100%;
  z-index: layer('navbar');
  @include fix;

  &__container {
    padding-inline: $size-fluid-s; 
    padding-block: $size-fluid-sm;
    margin-inline: auto;
    max-width: 154.4rem;
    @include flex-me($justify: space-between, $align: center);
  }

  &__logo {
    @include size(clamp(10rem, 5rem + 17vw, 18.5rem), auto);
  }

  &__links {
    @include flex-me($align: center, $gap: $size-fluid-s); 

    @include mq-max-w($tablet-min) {
      display: none;
    }

    &:hover > * {
      opacity: 0.5;
    }
  }

  &__link {
    cursor: pointer;
    user-select: none;
    color: $clr-white;
    text-transform: capitalize;
    transition: all 0.2s $ease-1;
    font-size: clamp(1.6rem, 1rem + 1vw, $fs-default); // var fs-fluid 1?

    &:hover {
      opacity: 1;
    }

    &--highlight {
      @extend .nav__link;
      padding: 0.6em 1.2em;
      border-radius: 50rem;
      font-family: $font-explicit;
      font-weight: $fw-max;
      @include content-color($clr-grey-200, $clr-secondary);
    }
  }

  &__hamburger {
    z-index: $_z-menu;
    @include size(2.2rem, 1.8rem);
    @include flex-col-center($justify: space-between);
    display: $HIDE; // as default

    @include mq-max-w($tablet-min) {
      display: flex;
    }

    &--open {
      & > i {
        background-position: -100% 0 !important; // overwrite background-size: 200% 100%;
      }
    }

    & > i {
      display: block;
      @include size(100%, 0.2rem);
      background: linear-gradient(
        90deg,
        $clr-white,
        $clr-white 50%,
        $clr-secondary 0,
        $clr-secondary
      );
      background-size: 200% 100%;
      transition: background-position $_dropdown-duration;

      &:nth-child(2) {
        transform: scale(-1); // reversing animation path
      }
    }
  }

  &__dropdown-menu {
    z-index: $_z-menu;
    @include abs-center;
    top: 23rem;
    padding-block: $size-s;
    width: calc(100% - ($size-fluid-s * 2));
    background-color: $clr-white;
    @include flex-col-center($gap: 2.2rem);

    &--slide-in {
      animation: $animation-fade-in forwards, $animation-slide-in-up;
      animation-duration: $_dropdown-duration;

      // overwrite global keyframe
      @keyframes slide-in-up {
        from {
          transform: translateY(1%);
        }
      }
    }

    &--slide-out {
      animation: $animation-fade-out forwards, $animation-slide-out-down;
      animation-duration: $_dropdown-duration;

      // overwrite global keyframe
      @keyframes slide-out-down {
        to {
              visibility: hidden;
          transform: translateY(1%);
        }
      }
    }

    &::before {
      content: '';
      @include abs($t: -2rem, $r: 0);
      border: 2rem solid transparent;
      border-right-color: $clr-white;
    }

    & .nav__link {
      color: $clr-grey-500;
      font-size: $fs-m;

      &--highlight {
        color: $clr-grey-200;
      }
    }
  }

  &__dropdown-overlay {
    z-index: $_z-overlay;
    @include fix($t: 0, $l: 0);
    @include size(100%);

    &--open {
      display: $SHOW;
    }

    &--hidden {
      display: $HIDE;
    }
  }
}
